.logo{
    width: 70%;
    height: auto;
}

.navbar {
    background-color: #455A66;
}

.navbar ul li a{
    color: #FF5722;
    font-size: 1.2em;
}

.navbar ul li a:hover {
    transition: 0.2s;
    transform: scale(1.05);
    cursor: pointer;
    color: #FFF;
}

.botao{
    background-color: #FF5722 !important;
    color: #fff !important;
    font-size: 1.2em !important;
    border: none !important;
}

.botao:hover{
    box-shadow: 1px 1px 15px 1px #FF5722;
    transition: 0.5s;
    background-color: #f6f6f7 !important;
    color: #FF5722 !important;
}